# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# vite
.vite
vite.config.*.timestamp-*

# typescript
*.tsbuildinfo

# misc
.DS_Store
.env
.env.local
.env.*.local
*.log
